body{
  background-color:#f3f3f3;
}

.heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin-left:50px;
}

.text{
  width:50%;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  margin:auto;
}

.buttonContainer{
  width:50%;
  margin:auto;
}